.skills {
  display: flex;
  flex-wrap: wrap;
  &__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba($themeClrSecondary, 0.2);
    border-radius: $commonBorderRadius * 5;
    font-weight: 600;
    color: #222;
  }
}
